version: "3.9"

services:
  backend:
    build: ./services/backend
    command: python manage.py run -h 0.0.0.0
    volumes:
      - ./services/backend/:/usr/src/app/
    ports:
      - 5000:5000
    env_file:
      - ./.env.dev
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  frontend:
    build: ./services/frontend
    command: npm run serve
    volumes:
      - ./services/frontend/:/usr/src/app/
    ports:
      - 9000:9000

volumes:
  postgres_data:
